@model IEnumerable<eTickets_Web.Models.Producer>

@{
    ViewData["Title"] = "List of Producers";
}


@Html.Partial("_CreateItem", "Producers")

<table class="table">
    <thead>
        <tr class="text-center">
            <th>

                @Html.DisplayNameFor(model => model.ProfilePictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width:50px" />
                @* @Html.DisplayFor(modelItem => item.ProfilePictureURL) *@
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
